### use # to comment out the configure item

################ Status ################
mode=train
# string: train/test/interactive_predict/api_service/learn

################ Datasets(Input/Output) ################
datasets_fold=data/datasets
train_file=train.csv
dev_file=dev.csv
test_file=test.csv
delimiter=b
vocabs_dir=data/datasets/vocabs
log_dir=data/datasets/logs
checkpoints_dir=checkpoints/BILSTM-CRFs-datasets2
output_test_file=test.out
is_output_sentence_entity=True
output_sentence_entity_file=test.entity.out
################ Model Configuration ################
use_crf=True
cell_type=LSTM
biderectional=True
encoder_layers=1
embedding_dim=200
hidden_dim=200
max_sequence_length=100
use_self_attention=True
attention_dim=400
seed=42
CUDA_VISIBLE_DEVICES=1,2

################ Training Settings ###############
epoch=20
batch_size=1
dropout=0.5
learning_rate=0.001
optimizer=Adam
#string: GD/Adagrad/AdaDelta/RMSprop/Adam
checkpoints_max_to_keep=3
print_per_batch=16
is_early_stop=True
patient=35
checkpoint_name=model-CRFs


################ Api service Settings ###############
ip=127.0.0.1
port=8000
